{% load static %}
    <h2 class="u-align-center u-text u-text-1">Compartimos nuestras experiencias</h2>
    <div class="row" id="experiences-row">
        <div class="experiences1 col-6 col-sm-4">
            <p>📱 Estaba buscando un nuevo teléfono inteligente y me acerqué al mostrador de
                dispositivos móviles en
                Infinity. El vendedor por mail fue muy paciente y me mostró diferentes opciones,
                explicándome las
                características de cada uno.</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/joven-fotografiando-puesta-sol-smartphone-al-aire-libre-generado-ia.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Alejandro Pérez
            </p>
        </div>
        <div class="experiences2 col-6 col-sm-4">
            <p>🎁 Cuando compré mi nueva impresora, me ofrecieron una garantía extendida sin costo
                adicional. Fue genial
                saber que Infinity se preocupa por la satisfacción del cliente y se asegura de que
                estemos protegidos.
            </p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/mujer-sonriente-tiro-medio-posando-al-aire-libre.jpg"%}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Sofía García</p>
        </div>
        <div class="experiences3 col-6 col-sm-4">
            <p>⚡ Durante el proceso de pago, la tienda aceptó diferentes métodos, incluyendo tarjetas de
                crédito y pagos
                en efectivo. Fue rápido y conveniente.</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/adult-1867889_1280.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Valentina López
            </p>
        </div>
        <div class="experiences4 col-6 col-sm-4">
            <p>📦 Recibí mi pedido en línea de Infinity y quedé impresionado con el empaque. Todo estaba
                protegido de
                manera segura y llegó en perfectas condiciones. ¡Incluso incluyeron una nota de
                agradecimiento!</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/pareja-sonriente-tomando-selfie-juntos.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Isabella
                Martínez</p>
        </div>
        <div class="experiences5 col-6 col-sm-4">
            <p>🌟 Infinity tiene un programa de lealtad para clientes frecuentes. Cada vez que compro,
                acumulo puntos
                que puedo canjear por descuentos o regalos. ¡Es genial ser recompensado por mi
                fidelidad!</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/teenager-2710526_1280.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Victoria
                Rodríguez</p>
        </div>
        <div class="experiences6 col-6 col-sm-4">
            <p>💡 ¡Increíble! Encontré una oferta especial en una tarjeta gráfica de alta gama. No pude
                resistirme y la
                compré al instante. El precio era excelente y el producto superó mis expectativas.</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/woman-3295967_1280.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Camila González
            </p>
        </div>
        <div class="experiences7 col-6 col-sm-4">
            <p>🔎 Tuve algunas preguntas técnicas sobre un monitor y el personal de Infinity fue muy
                conocedor y
                paciente. Me explicaron todas las especificaciones y me ayudaron a tomar la mejor
                decisión.</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/user1.png" %}'>
            <p><img class="instagram_log" src='{% static "assets/img/instagram.png" %}' alt="">Martina Silva</p>
        </div>
        <div class="experiences8 col-6 col-sm-4">
            <p>🛍️ La tienda está muy bien organizada, con secciones claras para diferentes productos.
                Fue muy fácil
                encontrar todo lo que necesitaba, desde cables hasta periféricos y componentes internos.
            </p>
            <img loading="lazy" src='{% static "assets/img//placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/man.jpg" %}'>
            <p><img class="instagram_log" src='{% static "assets/img/instagram.png" %}' alt="">Santiago Silva
            </p>
        </div>
        <div class="experiences9 col-6 col-sm-4">
            <p>😄 Hoy fue mi primera vez en Infinity. Desde el momento en que entré, me recibieron con
                una gran sonrisa
                y una cálida bienvenida. ¡El personal es muy amable y servicial!</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/man2.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Sebastián Torres
            </p>
        </div>
        <div class="experiences10">
            <p>🛍️💻 Estoy buscando una nueva computadora portátil y el vendedor de Infinity me ayudó a
                encontrar la
                perfecta. Me explicó todas las características y me recomendó la que mejor se ajustaba a
                mis necesidades
                y presupuesto.</p>
            <img loading="lazy" src='{% static "assets/img/placeholder.jpg" %}' alt=""
                data-src='{% static "assets/img/sportsman-5055367_1280.jpg" %}'>
            <p><img loading="lazy" class="instagram_log" src='{% static "assets/img/instagram.png" %}'
                    alt="">Daniel Ramírez
            </p>
        </div>
    </div>
