#contenedorFormulario {
    max-width: 920px;
    margin: 0 auto;
    background-color: #334155;
    padding: 20px; 
    border-radius: 8px; 

    h2{
        color: aliceblue;
        text-align: center;
    }
    #miFormulario {
      background-color: #ffffff;
      border: 1px solid #e0e0e0;
      border-radius: 8px; 
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: 20px; 
      margin-right: 20px; 
      margin-left: 20px; 
    }
  
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 8px;
      color: $color-slate-50;;

    }
    
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      margin-bottom: 15px;
      box-sizing: border-box;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      resize: vertical; 
    }
    
    #id_nombre,
    #id_descripcion,
    #id_requisitos {
      border-color: #3498db;
      border-radius: 8px; 
  
  }
    
  button {
      background-color: aliceblue;
      color: #334155;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease, color 0.3s ease;
      display: block;
      margin: 0 auto; /* Centra el botón */
    }
    
    button:hover {
      background-color: #92c5f8;
      color: #334155;
    }

  }
  