{% extends 'accounts/base_login.html' %}

{% block content %}
  <h2>Acerca de Infinity</h2>
  <p>Infinity es una tienda de comercio de computación que satisface todas tus necesidades informáticas.</p>

  <h3>Dueño: Nicolás</h3>
  <p>Nicolás es un experimentado analista de sistemas con base en Argentina. Con pasión por la tecnología, fundó Infinity para proporcionar productos informáticos de alta calidad a los clientes.</p>

  <h3>Nuestra Misión</h3>
  <p>En Infinity, nuestra misión es ofrecer una amplia gama de productos informáticos de última generación, garantizando la satisfacción del cliente a través de la calidad, la asequibilidad y un servicio excelente.</p>

  <h3>Contacto</h3>
  <p>Si tienes alguna pregunta o necesitas ayuda, no dudes en contactarnos a través de <a href="mailto:nicoasis@gmail.com">info@infinity.com</a>.</p>
{% endblock %}