{% extends 'base.html' %}

{% block content %}
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Agregar Categoría
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
    
      </div>
      <div class="modal-body">
        <form id="contenedorFormulario" method="post" action="{% url 'categoria' %}">
          <h2>Agregar Categoría</h2>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Guardar</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  <h2>Mis Categorias</h2>
  <table class="table table-bordered border-primary">
    <thead>
      <tr>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for categoria in categorias %}
        <tr>
          <td>{{ categoria.nombre }}</td>
          <td>
            <a href="{% url 'ver_categoria' categoria.id %}" class="btn btn-info btn-sm">Ver</a>
            <a href="{% url 'eliminar_categoria' categoria.id %}" class="bi bi-eraser-fill btn btn-danger"></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <a class="btn btn-primary" href="{% url 'categoria' %}">Volver al Inicio</a>
{% endblock %}